body
  line-height: 1.2
  font-family: 'Helvetica' Arial sans-serif
  color: $dark-brown

h1, h2, h3
  // font-family: "Museo Sans" sans-serif

h1
  font-size: 2em

h2
  font-size: 1.85em

p
  line-height: 1.5
  margin: 0.75em 0

a
  color: $red
  text-decoration: none
  &:hover
    color: darken($red, 10%)

