.main-header
  background-color: $yellow

  &__logo
    text-transform: uppercase

    &--name
      margin: 0

    &--avatar
      display: none

.main-nav
  display: flex

  &__link
    align-self: center

    &:not(:first-of-type)
      margin-left: 1em

    &.current-page
      font-weight: bold
      box-shadow: 0 2px 0 0 $black

@media screen and (min-width: #{$large-screen})

  .main-header

    &__logo

      &--name
        display: none

      &--avatar
        display: block
        border-radius: 50%

    .container
      display: flex
      flex-direction: column
      align-items: baseline
      justify-content: space-between
      height: 100%

  .main-nav
    flex-direction: column
    width: 100%

    &__link
      align-self: center
      margin-top: 1em

      &:not(:first-of-type)
        margin-left: 0
