h2 I'm Mark.

p I'm a web developer, husband, drummer, entrepreneur, and fan of soccer, music, whiskey, and books.

p I currently work at Deloitte Digital in Seattle, WA on websites, front-end prototypes, and web applications.

p I co-founded the #[a(href='http://seattlewhiskeycollective.com') Seattle Whiskey Collective], a whiskey tasting community that meets monthly to taste American whiskey.