h2 I'm Mark. #[br] Some people call me "Palf."

p I'm a front-end web developer in Seattle passionate about creating user-first experiences with concise, modular, semantic code in the presentation layer.
p I'm also an advocate for people-first, collaborative company culture, constant learning, and open-source tools.

hr

p This site is a constant work in progress as I learn new things, and the code is public on my #[a(href='https://github.com/markpalfreeman') Github].
p Reach me on Twitter at #[a(href='https://twitter.com/markpalfreeman') @markpalfreeman] or by email at #[a(href='mailto:mark@palf.co') mark@palf.co].
