h2 I'm Mark.
h3 Or "Palf" as they called me in high school.

p I'm a front-end web developer in Seattle passionate about creating user-first experiences with concise, semantic, performant code in the presentation layer.
