h1.logo: a(href='/') Palf

nav
  a.nav-link(href='/blog' class='#{ current.source == "blog" ? "current-page" : "" }') Blog
  a.nav-link(href='/about' class='#{ current.source == "about" ? "current-page" : "" }') About
