---
import { SITE_TITLE } from "../config";

const today = new Date();
---

<footer>
  <span>&copy; {today.getFullYear()} <mark>Mark</mark> Palfreeman</span>
  <ul>
    <li><a href="https://twitter.com/markpalfreeman">Twitter</a></li>
    <li><a href="https://github.com/markpalfreeman">Github</a></li>
    <li><a href="https://instagram.com/markpalfreeman">Instagram</a></li>
  </ul>
</footer>
<style>
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    bottom: 0;
    font-size: 0.8rem;
    margin-top: 2rem;
    padding: 1rem 0;
    border-top: 1px solid lightgray;
  }

  li {
    list-style: none;
    display: inline-block;
  }
</style>
