---
import HeaderLink from './HeaderLink.astro';
import Logo from './Logo.astro';
import { SITE_TITLE } from '../config';
---

<header>
  <a href="/" aria-label="Home">
    <Logo width={75} color="#444"></Logo>
  </a>
  <nav>
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/now">Now</HeaderLink>
  </nav>
</header>
<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 1.5em;
  }

  a {
    line-height: 0;
  }

  a:not(:hover):not(.active) {
    text-decoration: none;
    color: inherit;
  }
</style>
