---
layout: "../../layouts/BlogPost.astro"
title: "Whiskey Notes"
description: "A project by Mark Palfreeman"

import {Image} from "@astrojs/image/components"
---

<Image src="../../images/whiskey-notes-screen.png" width={"100%"} aspectRatio="9:16" alt="Whiskey Notes app screenshot"></Image>

<h3>Description</h3>

<h3>Technologies</h3>
<ul>
  <li>React</li>
  <li>Webpack</li>
  <li>Firebase</li>
</ul>

<a href="https://github.com/markpalfreeman/whiskey-notes">View source code</a>
